.ui-list {
	list-style: none;
	padding-left: 0;
	line-height: 37px;
}

.user__img img {
	max-width: 200px;
}

.user__info {
	background-color: #575757;
	color: #f7f7f7;
	padding: 6px;
	margin: -16px 20px 0;
	position: relative;
}

.user__info .small {
	font-size: 70%;
	font-weight: 100;
}

.user__link {
	position: relative;
	display: inline-block;
}

.user__link:hover {
	color: white;
	text-decoration: none;
}

.user__link:hover img {
	opacity: 0.7;
	transition: opacity 0.25s ease-in-out;
}

.user__link:hover:after {
	font: normal normal normal 62px/1 FontAwesome;
	content: "\f09b";
	position: absolute;
	top: calc(50% - 27px);
	left: calc(50% - 25px);
}

.user__info a:hover {
	color: #bfbfbf;
}

.user__img-tag {
	position: absolute;
	right: -2px;
	top: 19px;
}

.user__type {
	line-height: 20px;
	margin-bottom: 0;
}

.input--user-search {
	display: inline-block;
	margin-left: .5rem;
}

.input--user-search .form-group {
	margin-bottom: 1rem;
}

.input--user-search input {
	border-color: #ccc;
}

.text--result {
	line-height: 38px;
}

@media (min-width: 992px) {
	.col-lg-3:nth-child(4n+1) {
		clear: both;
	}
}
