.app {
	text-align: center;
}

.app-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.app-header {
	background-color: #ec1c23;
	padding: 45px 20px;
	color: white;
}

.app-intro {
	padding-top: 92px;
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

.app-intro--heading {
	font-size: 40px;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
