.pseudo-table {
	display: table;
	width: 100%;
}

.pseudo-table__row {
	display: table-row;
}

.pseudo-table__cell {
	padding: 7px 10px;
	display: table-cell;
	vertical-align: middle;
}

.ui-list {
	list-style: none;
	padding-left: 0;
	line-height: 37px;
}

.user--img img {
	max-width: 200px;
}

.user--info {
	background-color: #d6d6d6;
	/*color: white;*/
	padding: 6px;
	margin: -25px 17px 0;
	position: relative;
}

.user--link:hover img {
	opacity: 0.5;
}

.user--info a:hover {
	color: #bfbfbf;
}

.user--img-tag {
	position: absolute;
	right: 34px;
	top: 19px;
}

.r-line {
	border-right: 1px solid white;
}
